@import "variables";




.sidebar {
  a {
    position: relative;
  }

  a.active-link:after {
    content: ' ';
    background: $color_primary_Light;
    position: absolute;
    top: -8px;
    left: -6px;
    width: 36px;
    height: 36px;
    border-radius: 9px;
    z-index: -1;
  }

  background-color: $color_primary;
  position: fixed;
  left: 0;
  top: 64px;
  height: 100%;
  /*  width: 13%; */
  width: 56px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;

  font-size: 0.8rem !important;

  @media screen and (max-width: 1367px) {
    width: 12%;
    font-size: 1.2rem;
  }

  @include for-phone-only {
    width: 80% !important;
  }

  @media screen and (max-width: 1160px) {
    transition: all 300ms ease-in;
    width: 41%;
    transform: translateX(-120%);
    box-shadow: 0px 7px 7px -3px black;

    &.open {
      transform: translateX(0);
    }
  }

  z-index: 99999;

  ul {
    padding: 0 16px;

    list-style: none;

    li {
      a {
        text-decoration: none;
        color: $color_white;
      }

      i {
        margin-right: 20px;
        font-size: 24px;
        vertical-align: middle;
      }

      padding: 30px 0;
    }
  }
}
