<div class="sidebar" [ngClass]="{'open': opened}">
  <ul>
    <li *ngFor="let item of menuItems">
      <a [pTooltip]="item.title" routerLinkActive="active-link" [routerLink]="item.link"> <i class="mdi" [ngClass]="item.icon"></i></a>
    </li>


  </ul>
</div>
