<app-card *ngIf="!ready">
  <card-body>
    <div class="row">
      <div class="column">
        <app-loading></app-loading>
      </div>
    </div>
  </card-body>
</app-card>
<div class="row" *ngIf="ready">
  <div class="column">
    <app-card heading="Add Client">
      <card-body>
        <div class="row">
          <div class="column">
            <div class="form-group">
              <label for="name">name</label>
              <input type="text" [(ngModel)]="customer.name" id="name">
            </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" id="email" [(ngModel)]="customer.email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="form-group">
              <label for="Phone">Phone</label>
              <input type="text" id="Phone" [(ngModel)]="customer.phone">
            </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="WhatsApp">WhatsApp</label>
              <input type="text" id="WhatsApp" [(ngModel)]="customer.whatsapp">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="form-group">
              <label for="Facebook">Institution</label>
              <p-autoComplete [(ngModel)]="customer.institution" [suggestions]="results"
                (completeMethod)="search($event)">
              </p-autoComplete>
            </div>
          </div>

          <div class="column">
            <div class="form-group">
              <label for="Facebook">Country</label>
              <p-dropdown [filter]="true" [options]="countries" [(ngModel)]="customer.country" optionValue="name"
                optionLabel="name">
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="form-group">
              <label for="Facebook">Facebook Profile Link</label>
              <input type="text" id="Facebook" [(ngModel)]="customer.facebook">
            </div>
          </div>
          <!--    <div class="column">
            <div class="form-group">
              <label for="Facebook">Country</label>
              <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name"></p-dropdown>
            </div>
          </div> -->

        </div>
      </card-body>
      <card-footer>
        <div class="card-footer">
          <div class="row max-height">
            <div class="column vertical-centre">
              <div class="align-right">
                <button (click)="save()" class="default-btn ">
                  <span> Save</span>
                  <span>
                    <i class="mdi mdi-plus"></i>

                  </span>

                </button>
              </div>
            </div>
          </div>
        </div>
      </card-footer>
    </app-card>
  </div>
</div>
