@import "variables";

.kpi-card {
  cursor: pointer;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  min-height: 112px;
  transition: all 120ms ease-in-out;


  &:hover {
    background: $color_primary !important;
    color: white !important;

    transform: translateY(-5px);

    i,
    div,
    h4,
    span {
      color: white !important;
    }
  }

  >div {
    display: flex;
    flex-direction: column;
  }

  .kpi-icon {
    flex: 1;
    padding: 0 0.5rem;
    font-size: 2.4rem;
    color: $color_muted;
    justify-content: flex-end;
    align-items: flex-end;
  }

  h4 {
    margin: 0 !important;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $color_muted;
    margin-bottom: 0.5rem !important;

  }

  .number {
    font-size: 1.4rem;
    font-weight: 700;
  }

  background: $color_white;
  background: white;
  border-radius: $border_radius;
  position: relative;
  font-size: 1rem;
  box-shadow: $box_shadow;
}
