<div class="row">
  <div class="column">
    <span class="heading-default">Upcoming Projects</span>
  </div>
</div>
<div class="row">

  <div class="column project-mini" *ngFor="let project of projects">
    <app-card>
      <card-body>
        <h4 class="text-primary text-strong">
          <a routerLink="/app/projects/view/{{project.Id}}">{{project.title}}</a>
        </h4>
        <small class="text-muted">due {{project.deadline | amTimeAgo}}</small>
      </card-body>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="column">
    <span class="heading-default">Overdue Projects</span>
  </div>
</div>
<div class="row">

  <div class="column project-mini" *ngFor="let project of projectsDue">
    <app-card>
      <card-body>
        <h4 class="text-primary text-strong">
          <a routerLink="/app/projects/view/{{project.Id}}">{{project.title}}</a>
        </h4>
        <small class="text-muted">deadline was {{project.deadline | amTimeAgo}}</small>
      </card-body>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="column">
    <app-projects-list [SummaryView]="true"></app-projects-list>
  </div>
  
</div>