<p-blockUI baseZIndex="9999" [blocked]="blocked">
  <app-loading></app-loading>
</p-blockUI>
<p-menu #menu [popup]="true" [model]="items"></p-menu>
<div class="row" *ngIf="sale">
  <div class="column">
    <app-sales-target [sale]="sale">

    </app-sales-target>
  </div>
</div>
<p-toast baseZIndex="9000"></p-toast>
<div class="row">
  <div class="column half">
    <app-card heading="{{account.name}}" *ngIf="account">
      <card-body>
        <div class="row">
          <div class="col">


          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="account-details">
              <div class="account-detail-item">
                <label>Phone</label>
                <span>{{account.phone}}</span>
              </div>
              <div class="account-detail-item">
                <label>Email</label>
                <span>{{account.email}}</span>
              </div>
              <div class="account-detail-item">
                <label>Last Login</label>
                <span>{{account.lastLogin}}</span>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="account-details">
              <div class="account-detail-item">
                <label>Role</label>
                <span [appAccountType]="account.role"></span>
              </div>
              <div class="account-detail-item">
                <label>Status</label>
                <span class="label-status">Active</span>
              </div>
              <div class="account-detail-item">
                <!--   <label>Status</label>
                <span class="label-status">Active</span> -->
              </div>

            </div>

          </div>
        </div>

      </card-body>
      <card-footer>
        <div class="card-footer">
          <div class="row">
            <div class="col">
              <button class="p-button-primary p-button-text" type="button" pButton icon="pi pi-list" label="Settings"
                (click)="menu.toggle($event)"></button>
            </div>
            <!--    <div class="column">
              <button class="default-btn" (click)="ngxSmartModalService.getModal('targetModal').open()">
                <span>Set Target</span>
                <span><i class="mdi mdi-target"></i></span>
              </button>
            </div>

            <div class="column">
              <button class="default-btn" (click)="ngxSmartModalService.getModal('passwordModal').open()">
                <span class="p-pl-2 p-pr-2">Change Password</span>
                <span><i class="mdi mdi-lock-outline"></i></span>
              </button>
            </div>
            <div class="column">
              <button class="default-btn" (click)="login()">
                <span class="p-pl-2 p-pr-2">Login</span>
                <span><i class="mdi mdi-lock-outline"></i></span>
              </button>
            </div>
            <div class="column">
              <button class="default-btn danger" (click)="ngxSmartModalService.getModal('deleteModal').open()">
                <span class="p-pl-2 p-pr-2">Delete Account</span>
                <span><i class="mdi mdi-delete-outline"></i></span>
              </button>
            </div> -->


          </div>
        </div>


      </card-footer>

    </app-card>
  </div>
  <div class="column half">
    <app-card heading="Interactions">
      <card-body>
        <ng-scrollbar>
          <div class="scrollable-container">
            <div class="interaction" *ngFor="let chat of chats">
              <div>
                <span class="text-muted">{{chat.created_at | amTimeAgo}}</span>
              </div>
              <div>{{chat.message}}</div>
            </div>
          </div>
        </ng-scrollbar>
      </card-body>
    </app-card>
  </div>
</div>

<ngx-smart-modal #targetModal identifier="targetModal" [customClass]="'nsm-dialog-animation-ttb'">
  <h1>Set Target</h1>
  <div class="row">
    <div class="column">
      <div class="form-group select-group">
        <label for="">Month</label>
        <ng-select [items]="months" bindLabel="name" bindValue="id" [(ngModel)]="month">
        </ng-select>
      </div>

    </div>
    <div class="column">
      <div class="form-group select-group">
        <label for="">Year</label>
        <ng-select [items]="years" bindLabel="name" bindValue="id" [(ngModel)]="year">
        </ng-select>
      </div>

    </div>
    <div class="column">
      <div class="form-group">
        <label for="">Amount ($)</label>
        <input type="text" [(ngModel)]="amount">
      </div>

    </div>

  </div>

  <div class="row">
    <div class="column">
      <div class="align-right">
        <button (click)="saveTarget()" class="default-btn">Save</button>
      </div>
    </div>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #targetModal identifier="deleteModal" [customClass]="'nsm-dialog-animation-ttb'">

  <div class="row">
    <div class="column">
      <h2 class="p-p-0 p-m-0">Are you sure you want to delete this account? All data and projects will be deleted as
        well.</h2>
      <h4 class="text-muted">Consider changing the password if you just want to deactivate this account</h4>
    </div>

  </div>

  <div class="row">
    <div class="column">
      <div class="align-right">
        <button (click)="ngxSmartModalService.getModal('deleteModal').close()"
          class="default-btn p-mr-2">Cancel</button>
        <button (click)="deleteAccount()" class="default-btn danger">Delete</button>
      </div>
    </div>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #targetModal identifier="passwordModal" [customClass]="'nsm-dialog-animation-ttb'">

  <div class="row">
    <div class="column">
      <div class="form-group">
        <label for="">New Password</label>
        <input type="text" [(ngModel)]="new_password" class="form-control">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="form-group">
        <label for="">Confirm New Password</label>
        <input type="text" [(ngModel)]="new_password_confirm" class="form-control">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="align-right">
        <button (click)="changePassword()" class="default-btn">Save</button>
      </div>
    </div>
  </div>
</ngx-smart-modal>
