@import "variables";
.account-details {
  display: flex;
  justify-content: space-between;

  .account-detail-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    label {
      font-weight: 600;
    }
  }
  &:nth-child(n + 2) {
    margin-top: 24px;
  }
}
@include for-phone-only {
  .account-details {
    flex-direction: column;
  }
  .account-detail-item {
    margin: 8px 0;
  }
}
.label-status {
  font-weight: 600;
  color: $color_primary_Light;
}
.interaction {
  border-bottom: 1px solid $background_color;
  padding: 16px 0;
  div:nth-child(2) {
    font-weight: 600;
  }
 
}
