<div *ngIf="busy">
  <app-loading></app-loading>
</div>
<div *ngIf="!busy">
  <div class="row">
    <div class="column">
      <app-card heading="Filters" footer="true">
        <card-body>
          <div class="row filters">
            <div class="column quad">
              <div class="form-group select-group">
                <label for="name">Month</label>
                <ng-select [items]="months" bindLabel="name" bindValue="id" [(ngModel)]="month"></ng-select>
              </div>
            </div>
            <div class="column quad">
              <div class="form-group select-group">
                <label for="name">Year</label>
                <ng-select [items]="years" bindLabel="name" bindValue="id" [(ngModel)]="year"></ng-select>
              </div>
            </div>
            <div class="column quad">
              <!-- <div class="form-group select-group">
                <label for="name">Status</label>
                <ng-select [items]="statuses" bindLabel="name" bindValue="id" [(ngModel)]="status"></ng-select>
              </div> -->
            </div>
            <div class="column quad">
              <!--   <div class="form-group select-group">
                <label for="name">Sort By</label>
                <ng-select [items]="sortOptions" bindLabel="name" bindValue="id" [(ngModel)]="sort"></ng-select>
              </div> -->
            </div>



          </div>
          <div class="card-footer">
            <div class="row ">
              <div class="column">
                <div class="column">
                  <button class="default-btn" (click)="applyFilter()">
                    <span>Clear Filters</span>
                    <span><i class="mdi mdi-chevron-right"></i></span>
                  </button>
                </div>
              </div>
              <div class="column flex-end">

                <button class="default-btn" (click)="applyFilter()">
                  <span>Apply</span>
                  <span><i class="mdi mdi-chevron-right"></i></span>
                </button>
              </div>
            </div>
          </div>
        </card-body>
      </app-card>
    </div>
  </div>
  <div class="row" *ngIf="summary">
    <div class="column">
      <app-sales-target [sale]="summary"></app-sales-target>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <app-card styleClass="table-card" heading="Sales Targets" subheading="Sales user with target assigned">
        <card-body>
          <p-table [value]="sales" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="name">
                  User
                  <p-sortIcon field="name"></p-sortIcon>

                </th>
                <th [pSortableColumn]="amount">
                  Target Assigned
                  <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th [pSortableColumn]="amount_completed">
                  Target Completed
                  <p-sortIcon field="amount_completed"></p-sortIcon>
                </th>
                <th [pSortableColumn]="amount">
                  Remaining
                  <p-sortIcon field="amount"></p-sortIcon>
                </th>
                <th [pSortableColumn]="projects">
                  Projects
                  <p-sortIcon field="projects"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sale>
              <tr>
                <td>{{sale.user.name}}</td>
                <td>{{sale.amount | currency}}</td>
                <td>{{sale.amount_completed | currency}}</td>
                <td>{{(sale.amount - sale.amount_completed) | currency}}</td>
                <td>{{sale.projects.length}}</td>
              </tr>
            </ng-template>
          </p-table>
        </card-body>
      </app-card>
    </div>
  </div>



</div>
