<div [class]="'card ' +  styleClass" [ngStyle]="{'padding': padding}">
  <div class="card-header" *ngIf="heading">
    <div class="row">
      <div class="column no-padding">
        <span>{{ heading }}</span>
        <p *ngIf="subheading">
          <small>{{subheading}}</small>
        </p>
      </div>
      <div class="column no-padding auto-width card-button">
        <button (click)="onClickMe()" *ngIf="route" class="default-btn">
          <span> {{routeLabel}}</span>
          <span>
            <i class="mdi mdi-{{routeIcon}}"></i>

          </span>

        </button>
      </div>
    </div>


  </div>
  <ng-content select="card-body"></ng-content>
  <ng-content select="card-footer"></ng-content>
</div>
