@import "variables";

card-body {
  display: block;
  font-size: 1rem;
  position: relative;
}

.card-button {
  @include for-phone-only {
    flex-direction: row;
    display: block;
    position: relative !important;

    button {
      width: 100% !important;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}

.card-footer {
  display: block;
  margin: 30px -30px -30px -30px;
  background: $color_input_field;
  height: auto;
  border-radius: 0 0 $border_radius;
}

.card {
  background: $color_white;
  background: white;
  border-radius: $border_radius;
  position: relative;
  font-size: 1rem;
  box-shadow: $box_shadow;

  .card-header {
    button {
      float: right;
    }

    p {
      color: $color_muted;
      margin: 0;
      font-size: 1.2rem;
      font-weight: 500;
    }

    font-weight: 600;
    font-size: 20px;

    &::after {
      content: " ";
      border-bottom: 1px solid $color_input_field_darker;
      margin: 30px -30px;
      display: block;
      height: 1px;
      width: calc(100% + 60px);
    }
  }
}
