<div *ngIf="!ready">
  <app-loading></app-loading>
</div>
<div *ngIf="ready">
  <div class="row">
    <div class="column">
      <app-card heading="Date Filter" footer="true">
        <card-body>
          <div class="row filters">
            <div class="column quad">
              <div class="form-group select-group">
                <label for="name">Month</label>
                <ng-select [items]="months" bindLabel="name" bindValue="id" [(ngModel)]="month"></ng-select>
              </div>
            </div>
            <div class="column quad">
              <div class="form-group select-group">
                <label for="name">Year</label>
                <ng-select [items]="years" bindLabel="name" bindValue="id" [(ngModel)]="year"></ng-select>
              </div>
            </div>
            <div class="column quad">
              <!-- <div class="form-group select-group">
                <label for="name">Status</label>
                <ng-select [items]="statuses" bindLabel="name" bindValue="id" [(ngModel)]="status"></ng-select>
              </div> -->
            </div>
            <div class="column quad">
              <!--   <div class="form-group select-group">
                <label for="name">Sort By</label>
                <ng-select [items]="sortOptions" bindLabel="name" bindValue="id" [(ngModel)]="sort"></ng-select>
              </div> -->
            </div>



          </div>
          <div class="card-footer">
            <div class="row ">
              <div class="column">

                <button class="default-btn disabled" (click)="clear()">
                  <span>Clear Filters</span>
                  <span><i class="mdi mdi-chevron-right"></i></span>
                </button>
              </div>
              <div class="column flex-end">

                <button class="default-btn" (click)="applyFilter()">
                  <span>Apply</span>
                  <span><i class="mdi mdi-chevron-right"></i></span>
                </button>
              </div>
            </div>
          </div>
        </card-body>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <app-sales-table [month]="month" [year]="year"></app-sales-table>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <app-card styleClass="table-card" heading="Payments Received">
        <card-body>
          <app-payment-list [month]="month" [year]="year"></app-payment-list>
        </card-body>
      </app-card>
    </div>
  </div>

</div>
