<div [hidden]="!isBusy">
  <app-loading></app-loading>
</div>
<div class="row" [hidden]="isBusy">
  <div class="column">
    <app-card heading="Choose a client" route="app/customers/add"
      subheading="Select a client first to add a new project">
      <card-body>
        <div class="row">
          <div class="column">
            <div class="form-group select-group">
              <label for="">Select a customer</label>
              <ng-select [items]="customers" bindLabel="name" bindValue="id" [(ngModel)]="project.client">
              </ng-select>
            </div>
          </div>
        </div>
      </card-body>
    </app-card>
  </div>
</div>
<div class="row" [hidden]="!project.client || isBusy">
  <div class="column">
    <app-card [heading]="edit? 'Edit Project' : 'Add Project'"
      subheading="{{selectedCustomer && ('Project for ' + selectedCustomer.name)}}">
      <card-body>
        <div class="row">
          <div class="column">
            <div class="form-group">
              <label for="name">Project Title</label>
              <input type="text" id="name" [(ngModel)]="project.title">
            </div>
          </div>
          <div class="column half-plus-quad">
            <div class="form-group select-group">
              <label for="">Status</label>
              <ng-select [items]="statusList" bindLabel="name" bindValue="id" [(ngModel)]="project.status"></ng-select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="form-group">
              <label for="Phone">Description</label>
              <textarea name="" id="" cols="30" rows="10" [(ngModel)]="project.description"></textarea>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="column">
            <div class="form-group">
              <label for="Facebook">Deadline</label>
              <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" type="text" [(ngModel)]="project.deadline">
              <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
            </div>
          </div>
          <div class="column">
            <div class="form-group select-group">
              <label for="team">Assign To</label>
              <ng-select *ngIf="teams && teams.length > 0" [items]="teams" bindLabel="name" bindValue="id"
                [(ngModel)]="project.team.Id">
              </ng-select>
            </div>
          </div>

        </div>
        <hr style="opacity: 0.1;">
        <div class="row">
          <div class="column">
            <h4 class="m-0">Payment Details</h4>
          </div>
        </div>
        <div class="row">

          <div class="column">
            <div class="form-group">
              <label for="Facebook">Total Amount</label>
              <input type="text" [(ngModel)]="project.amount_total">
            </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="Facebook">Amount Received</label>
              <input [disabled]="edit" type="text" [(ngModel)]="project.amount_recieved">
              <small class="p-mt-4" *ngIf="!edit">This amount will added to payment and cannot be changed later</small>
              <small class="p-mt-4" *ngIf="edit">First payment amount. Click <b>Add Payment</b> in project page to add
                more payment</small>
            </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="Facebook">Description</label>
              <input [disabled]="edit" type="text" [(ngModel)]="amount_description">

              <small class="p-mt-4" *ngIf="edit">First payment amount. Click <b>Add Payment</b> in project page to add
                more payment</small>
            </div>
          </div>
          <div class="column">
            <div class="form-group">
              <label for="Facebook">Receipt#</label>
              <input [disabled]="edit" type="text" [(ngModel)]="receipt_no">

              <small class="p-mt-4" *ngIf="edit">First payment amount. Click <b>Add Payment</b> in project page to add
                more payment</small>
            </div>
          </div>
        </div>
        <hr style="opacity: 0.1;">
        <div class="row">
          <div class="column">
            <ngx-dropzone (filesAdded)="onFilesAdded($event)" [showPreviews]="true" [preserveFiles]="false" #dropzone>
            </ngx-dropzone>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div>
              <small>
                <i class="pi pi-info-circle"></i>
                <b> Use google drive for large files</b>
              </small>
            </div>
          </div>
        </div>
      </card-body>
      <card-footer>
        <div class="card-footer">
          <div class="row max-height">
            <div class="column vertical-centre">
              <div class="align-right">
                <button (click)="save()" class=" default-btn">
                  <span> Save</span>
                  <span>
                    <i class="mdi mdi-plus"></i>

                  </span>

                </button>
              </div>
            </div>
          </div>
        </div>
      </card-footer>
    </app-card>
  </div>
</div>
