@import "variables";

.card {
  margin-top: 24px;
}

.customer-details {
  display: flex;
  justify-content: space-between;

  @include for-phone-only {
    flex-direction: column;
  }

  .customer-detail-item {
    display: flex;
    flex-direction: column;

    @include for-phone-only {
      margin-bottom: 16px;
    }

    label {
      font-weight: 600;
    }
  }

  &:nth-child(n+2) {
    margin-top: 24px;
  }
}
