<div class="row" *ngIf="customer">
  <div class="column">
    <app-card heading="Customer Details" subheading="View details,projects and messages from Uzair here"
      route="app/customers/edit/{{ customer.Id }}" routeLabel="Edit" routeIcon="pencil">
      <card-body>
        <div class="row">
          <div class="column">
            <div class="customer-details">
              <div class="customer-detail-item">
                <label>Customer</label>
                <span>{{customer.name}}</span>
              </div>
              <div class="customer-detail-item">
                <label>Email</label>
                <span>{{customer.email}}</span>
              </div>
              <div class="customer-detail-item">
                <label>Phone</label>
                <span>{{customer.phone}}</span>
              </div>
              <div class="customer-detail-item">
                <label>Country</label>
                <span>{{customer.country || '-'}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="customer-details">
              <div class="customer-detail-item">
                <label>Institution</label>
                <span>{{customer.institution || '-'}}</span>
              </div>
              <div class="customer-detail-item">
                <label>WhatsApp</label>
                <span>{{customer.whatsapp || ''}}</span>
              </div>
              <div class="customer-detail-item">
                <label>Country</label>
                <span>{{customer.country || '-'}}</span>
              </div>
              <div class="customer-detail-item">
                <label>Added By</label>
                <span>{{customer.owner_name || ''}}</span>
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="customer-details">
              <div class="customer-detail-item">
                <label>Facebook</label>
                <span>{{customer.facebook || '-'}}</span>
              </div>


            </div>
          </div>
        </div>
      </card-body>
      <card-footer>
        <div class="p-d-flex p-jc-end p-ai-end">
          <button (click)="confirmDelete($event)" icon="pi pi-trash" pButton type="button"
            class="p-button-outlined p-button-rounded p-button-danger" label="Delete Customer"></button>
        </div>
      </card-footer>
    </app-card>
  </div>

</div>
<p-confirmPopup></p-confirmPopup>
