@import "variables";

.interaction-wrapper {
  .form-group{
    position: relative;
    i{
      position: absolute;
      right : 0;
      font-size: 4.6rem;
      color: $color_primary;
      cursor: pointer;
    }
  /*   textarea{
      width: 95%;
    } */
  }
  margin-top: 24px;
  .chat-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    &.is-owner{
      align-items: flex-end;
      .chat-message-body {
        background: $color_primary !important;
        color : $color_white;
       
      }
    }
    p {
      margin: 4px 0;
      font-weight: 500;
      font-size: 12px;
      width: 50%;
    }
  }
  .chat-message-body {
    background: $color_input_field;
   /*  max-height: 120px; */
    overflow-y: auto;
    white-space: pre;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 16px;
    border-radius: $border_radius;
  }
}
