<div *ngIf="!ready" class="p-d-flex p-ai-center p-jc-center p-p-4">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="interaction-wrapper" *ngIf="ready">
  <app-card heading="Interactions">
    <card-body>
      <ng-scrollbar [compact]="true" #chatScroll>
        <div class="chat scrollable-container">
          <div class="row">
            <div class="column">
              <div class="chat-message" *ngFor="let message of messages" [ngClass]="{'is-owner': message.self}">
                <p>{{message.name}} - <small> {{message.created_at | amTimeAgo}}</small></p>
                <div class="chat-message-body">
                  {{message.message}}
                </div>

              </div>
            </div>
          </div>
        </div>
      </ng-scrollbar>
    </card-body>
    <card-footer>
      <div class="card-footer">
        <div class="row">
          <div class="column">
            <div class="form-group">

              <textarea rows="7" [(ngModel)]="message.message"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="checkbox">

              <input type="checkbox" name="is_user" id="is_user" [(ngModel)]="message.self">
              <label for="is_user">From You</label>
            </div>

          </div>
          <div class="column">
            <div class="align-right">
              <button class="default-btn" (click)="send()">
                <span>Send</span>
                <span> <i class="mdi mdi-send"></i></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </card-footer>
  </app-card>
</div>
