@import "variables";

.project-details {
  display: flex;
  justify-content: space-between;

  .project-detail-item {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 600;
    }
  }

  &:nth-child(n + 2) {
    margin-top: 24px;
  }
}

@include for-phone-only {
  .project-details {
    flex-direction: column;
  }

  .project-detail-item {
    margin: 8px 0;
  }
}

.project-attachments {
  display: flex;
  margin: 32px 0 0;
  flex-wrap: wrap;

  .attachment-item {
    width: 16%;
    border: 1px solid $color_background;
    margin: 0.5rem 2%;
    padding: 0.25rem;
    border-radius: 9px;
    word-wrap: break-word;

    span {
      cursor: pointer;
    }

    i {
      font-size: 24px;
      font-weight: 900;
      vertical-align: middle;
      cursor: pointer;
    }

    color: $color_primary;
    font-weight: 900;
  }
}
