<div class="row">
  <div class="column">
    <p-breadcrumb [model]="items"></p-breadcrumb>

  </div>

  <ngx-smart-modal #targetModal identifier="targetModal" [customClass]="'nsm-dialog-animation-ttb'">
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="name">Amount</label>
          <input type="text" id="amount" [(ngModel)]="amount">
          <div style="margin-top: 4px;" *ngIf="amount_error">
            <p-message severity="error" text="Amount is required"></p-message>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="name">Received On</label>
          <p-calendar styleClass="flex" [(ngModel)]="received_on">
          </p-calendar>
          <div style="margin-top: 4px;" *ngIf="date_error">
            <p-message severity="error" text="Date is required"></p-message>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div style="display:flex;justify-content: flex-end;">
          <p-button (click)="save()" styleClass="p-button-link" label="Save"></p-button>
        </div>
      </div>
    </div>
  </ngx-smart-modal>
</div>


<div class="row">
  <!--  <div class="column quad">
    <app-projects-list [SummaryView]="true"></app-projects-list>
  </div> -->
  <div class="column" *ngIf="project">
    <app-card [heading]="'DG-' + project.Id + '  ' + project.title" subheading="Some details"
      route="app/projects/edit/{{project.Id}}" routeIcon="chevron-right" routeLabel="Edit">
      <card-body>

        <div class="row">
          <div class="column">
            <div class="project-details">
              <div class="project-detail-item">
                <label>Client</label>
                <span>{{customer.name}}</span>
              </div>
              <div class="project-detail-item">
                <label>Team</label>
                <span *ngIf="project.team">{{project.team.name}}</span>
                <span *ngIf="!project.team">-</span>
              </div>
              <div class="project-detail-item">
                <label>Status</label>
                <span [appStatuslabel]="project.status"></span>
              </div>
              <div class="project-detail-item">
                <label>Due Date</label>
                <span>{{project.deadline | amDateFormat : 'LL'}}</span>
              </div>
            </div>
            <div class="project-details">
              <div class="project-detail-item">
                <label>Description</label>
                <span>{{project.description}}</span>
              </div>
            </div>
            <div class="project-attachments">
              <div class="attachment-item"
                *ngFor="let attachment of project.Projects_Attachments">
                <div style="display: flex;justify-content:space-between;">
                  <i class="mdi mdi-paperclip"></i>
                  <i (click)="confirmDeleteAttachment($event,attachment.Id)" class="mdi mdi-delete-outline danger text-danger"></i>
                </div>
                <span (click)="openAttachment(attachment)">{{attachment.VirtualAttachment.file_name}}</span>
              </div>
            </div>
          </div>
        </div>
      </card-body>
      <card-footer>
        <div class="row">
          <div class="column">
            <p-menubar [model]="menuItems"></p-menubar>
          </div>
        </div>
        <div class="p-d-flex p-jc-end p-ai-end">
          <button (click)="confirmDelete($event)" icon="pi pi-trash" pButton type="button"
            class="p-button-outlined p-button-rounded p-button-danger" label="Delete Project"></button>
        </div>
      </card-footer>
    </app-card>
    <!-- <app-hero-card></app-hero-card> -->
    <app-interactions [messages]="messages" [project]="project"></app-interactions>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
