.app-container {
  display: block;
  margin-top: 96px;
  margin-left: 56px;

  @media screen and (max-width: 1367px) {
    margin-left: 12%;
  }

  @media screen and (max-width: 1160px) {
    margin-left: 0%;
  }
}
