// COLOR FROM SELECTED ITEMS
$background_color: rgba(232, 235, 242, 255);
$gutter: 12px;

// COLOR FROM ASSETS PANEL
$color_primary_Light: rgba(77, 133, 255, 255);
$color_primary: rgba(46, 98, 236, 255);
$color_black: #204766;
$color_white: rgba(255, 255, 255, 255);
$color_bg_primary: #b8ceff;
$color_muted: rgba(170, 170, 170, 255);
$color_success: #46dd00;
$color_danger: rgba(255, 77, 133, 255);
$color_danger_dark: rgba(183, 38, 84, 255);
$input_height: 56px;
$color_input_field: rgba(170, 170, 170, 0.13);
$color_very_Light: rgba(184, 206, 255, 255);
$color_success2: rgba(70, 221, 0, 255);
$button_shadow_color: #4d85ff70;
$color_background: #e8ebf2;
$color_input_field_darker: #f1f1f1;
$border_radius: 9px;
$box_shadow: 0 2px 12px rgba(116, 116, 116, 0.1);
$box_shadow_primary: 0 2px 12px $button_shadow_color;

@mixin for-phone-only {
  @media (max-width: 1160px) {
    @content;
  }
}
@mixin for-laptop {
  @media (min-width: 1200px) {
    @content;
  }
}
