<div *ngIf="!ready">
  <app-loading></app-loading>
</div>
<div *ngIf="ready">
  <div class="row" *ngIf="!SummaryView">
    <div class="column">
      <app-card heading="Date Filter" footer="true">
        <card-body>
          <div class="row filters">
            <div class="column quad">
              <div class="form-group select-group">
                <label for="name">Month</label>
                <ng-select [items]="months" bindLabel="name" bindValue="id" [(ngModel)]="month"></ng-select>
              </div>
            </div>
            <div class="column quad">
              <div class="form-group select-group">
                <label for="name">Year</label>
                <ng-select [items]="years" bindLabel="name" bindValue="id" [(ngModel)]="year"></ng-select>
              </div>
            </div>
            <div class="column quad">
              <!-- <div class="form-group select-group">
                <label for="name">Status</label>
                <ng-select [items]="statuses" bindLabel="name" bindValue="id" [(ngModel)]="status"></ng-select>
              </div> -->
            </div>
            <div class="column quad">
              <!--   <div class="form-group select-group">
                <label for="name">Sort By</label>
                <ng-select [items]="sortOptions" bindLabel="name" bindValue="id" [(ngModel)]="sort"></ng-select>
              </div> -->
            </div>



          </div>
          <div class="card-footer">
            <div class="row ">
              <div class="column">

                <button class="default-btn disabled" (click)="clear()">
                  <span>Clear Filters</span>
                  <span><i class="mdi mdi-chevron-right"></i></span>
                </button>
              </div>
              <div class="column flex-end">

                <button class="default-btn" (click)="applyFilter()">
                  <span>Apply</span>
                  <span><i class="mdi mdi-chevron-right"></i></span>
                </button>
              </div>
            </div>
          </div>
        </card-body>
      </app-card>
    </div>
  </div>
  <div class="p-d-flex p-jc-end p-ai-end p-pb-4">
    <button (click)="onClickMe()" class="default-btn">
      <span class="p-pl-4 p-pr-4"> Add Project</span>
      <span>
        <i class="mdi mdi-plus"></i>

      </span>

    </button>
  </div>

  <div class="row">
    <div class="column">
      <p-tabView orientation="bottom">
        <p-tabPanel header="All Projects">
          <app-projects-table [month]="month" [year]="year" [SummaryView]="SummaryView" [projects]="projects">
          </app-projects-table>

        </p-tabPanel>
        <p-tabPanel [header]="userProject.user" *ngFor="let userProject of user_projects">
          <app-projects-table [month]="month" [year]="year" hideUser="true" [SummaryView]="SummaryView"
            [projects]="userProject.projects"></app-projects-table>
        </p-tabPanel>



      </p-tabView>
    </div>
  </div>

</div>
