<app-card heading="Create Account" subheading="Add a new account">
  <card-body>
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" [(ngModel)]="account.name">
        </div>
      </div>
      <div class="column">
        <div class="form-group">
          <label for="email">Email / Username</label>
          <input type="text" name="email" id="email" [(ngModel)]="account.email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="text" name="phone" id="phone" [(ngModel)]="account.phone">
        </div>
      </div>
      <div class="column">
        <div class="form-group select-group">
          <label for="type">Account Type</label>
          <ng-select [items]="accountTypes" bindLabel="name" bindValue="id" [(ngModel)]="account.role"></ng-select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" [(ngModel)]="password">
        </div>
      </div>
      <div class="column">
        <div class="form-group">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="passwordConfirm" name="passwordConfirm" id="passwordConfirm" [(ngModel)]="passwordConfirm">
        </div>
      </div>
    </div>
  </card-body>
  <card-footer>
    <div class="card-footer">
      <div class="row">
        <div class="column">
          <div class="align-right">
            <button class="default-btn" (click)="save()">
              <span>Save</span>
              <span><i class="mdi mdi-plus"></i></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </card-footer>
</app-card>