@import "variables";

.header {
  background-color: $color_primary;
  height: 64px;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;

  .right {
    display: block;
    float: right;
    padding: 20px;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    a {
      cursor: pointer;
    }
  }
  .menu-box {
    @include for-laptop {
      display: none;
    }
    @include for-phone-only{
      font-size: 3.2rem;
      float: left;
      color: $color_white;
      padding: $gutter;
      cursor: pointer;
    }
  }
  box-shadow: 0 2px 10px rgba(116, 116, 116, 0.16);
  img {
    max-width: 120px;
    margin-left: 24px;
    margin-top: 12px;
    @include for-phone-only {
      position: absolute;
      left: 33%;
    }
  }
}
