<div class="header">
    <img src="assets/logo.png">
    <div class="menu-box">
        <i class="mdi mdi-menu" (click)="toggleSidebar()"></i>
    </div>
    <div class="right">
        <a (click)="logout()">Logout</a>
    </div>
</div>