<div class="hero-card">
  <div class="hero-icon">
    <i class="mdi mdi-check"></i>
  </div>
  <h1>Project Completed</h1>
  <div class="cta">
    <button class="default-btn">Download</button>
  </div>
</div>