@import "variables";

.hero-card {
  border-radius: $border_radius;
  background: $color_primary;
  min-height: 180px;
  position: relative;
  margin-top: 48px;
  .hero-icon {
    background: $color_success;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    position: absolute;
    right: -18px;
    top: -18px;
    i {
      vertical-align: middle;
      display: flex;
      justify-content: center;
      align-content: center;
      height: 100%;
      font-size: 24px;
      color: white;
      position: relative;
      top: 12px;
      right: 1px;
    }
  }
  h1 {
    text-align: center;
    padding: 18px;
    color: white;
  }

  .cta {
    text-align: center;
    button {
      background: white !important;
      min-width: 160px;
      color: $color_black;
    }
  }
}
