@import "variables";
.person {
  h3 {
    text-align: center;
    margin: 0;
  }
  p {
    margin: 0;
    text-align: center;
    span {
      font-weight: 600;
      font-size: 1.2rem;
      margin: 0 4px;
    }
  }
}
.person{
  position: relative;
  .date{
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 900;
    font-size: 12px;
  }
}
.numbers {
  display: flex;
  justify-content: space-around;
  margin: 16px 0 16px 0;
  .number {
    i {
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

  .number:nth-child(2) {
    i {
      color: $color_danger;
    }
  }
  .number:nth-child(3) {
    i {
      color: $color_primary;
    }
  }
}
.progress {
  background: $color_input_field;
  height: 12px;
  width: calc(100% + 20px);
  position: absolute;
  bottom: -26px;
  left: -10px;
  border-bottom-left-radius: $border_radius;
  border-bottom-right-radius: $border_radius;
  &.filled {
    background: $color_primary;    
    border-bottom-right-radius: 0;
  }
}
