<app-card [padding]="'10px'">
  <card-body>
    <div class="person">
      <h3>{{sale.account.name}}</h3>
      <span class="date">Target for {{mString}} </span>
      <p>
        <span>{{sale.projects.length}} Projects</span>
        <!--   <span>{{sale.amount_completed}} Completed</span> -->
      </p>
    </div>
    <div class="numbers">
      <div class="number">
        <i class="mdi mdi-target"></i>
        {{sale.amount}}$
      </div>
      <div class="number">
        <i class="mdi mdi-history"></i>
        {{sale.amount - (sale.amount_completed ? sale.amount_completed : 0)}}$
      </div>
      <div class="number">
        <i class="mdi mdi-check-all"></i>
        {{sale.amount ? sale.amount_completed : 0}}$
      </div>
    </div>
    <div class="progress"></div>
    <div class="progress filled" [ngStyle]="{'width': progress + '%'}"></div>
  </card-body>
</app-card>
