<div *ngIf="!ready && !no_payments">
  <app-loading></app-loading>
</div>
<div *ngIf="no_payments">
  <app-empty message="No payments found..."></app-empty>
</div>
<div *ngIf="ready">
  <p-confirmPopup autoZIndex="false"></p-confirmPopup>
  <p-dialog dismissableMask="true" position="bottom" [style]="{width: '480px'}" [modal]="true" header="Change Amount"
    [(visible)]="display">
    <div *ngIf="display">
      <div class="row">
        <div class="column">
          <div class="form-group">
            <label for="name">Amount</label>
            <input type="text" name="name" id="name" [(ngModel)]="context.amount">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="form-group">
            <label for="name">Receipt#</label>
            <input type="text" name="name" id="name" [(ngModel)]="context.receipt_no">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="form-group">
            <label for="name">Description</label>
            <input type="text" name="name" id="name" [(ngModel)]="context.description">
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="column">
        <p-button (click)="savePayment()" type="button"
          styleClass=" save-button ml-2 p-button-rounded p-button-primary ">
          <i style="margin-right: 8px;" class="pi pi-check"></i> Save
        </p-button>
      </div>
    </div>
  </p-dialog>
  <p-table [value]="payments" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>

        <th pSortableColumn="project">
          Project
          <p-sortIcon field="project"></p-sortIcon>

        </th>
        <th pSortableColumn="amount">
          Receipt#
          <p-sortIcon field="amount"></p-sortIcon>
        </th>
        <th pSortableColumn="client">
          Received On
          <p-sortIcon field="client"></p-sortIcon>
        </th>
        <th pSortableColumn="received_on">
          Description
          <p-sortIcon field="received_on"></p-sortIcon>
        </th>


        <th pSortableColumn="amount">
          Amount
          <p-sortIcon field="amount"></p-sortIcon>
        </th>
        <th>
          Actions

        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-payment>
      <tr>

        <td>

          <h4 class="text-primary text-strong">
            <a [routerLink]="[ '/app/projects/view/',payment.project_id ]"> [DG-{{ payment.project_id }}]
              {{payment.project}}</a>
          </h4>
        </td>
        <td>
          {{ payment.receipt_no || '-' }}
        </td>
        <!--   <td>{{payment.client}}</td> -->


        <td> {{ payment.received_on | easydate }}</td>
        <td>
          {{ payment.description || '-' }}
        </td>

        <td>
          {{ payment.amount | currency }}
        </td>
        <td>
          <div class="row">

            <p-button (click)="confirmDelete($event,payment.Id)" type="button" icon="pi pi-trash"
              styleClass="p-button-outlined p-button-rounded p-button-danger p-button-sm"></p-button>
            <div class="ml-2">
              <p-button (click)="showDialog(payment.Id)" type="button" icon="pi pi-pencil"
                styleClass="ml-2 p-button-outlined p-button-rounded p-button-primary p-button-sm"></p-button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
