<app-card *ngIf="!ready">
  <card-body>
    <div>
      <app-loading></app-loading>
    </div>
  </card-body>
</app-card>
<p-tabView orientation="bottom" *ngIf="ready">
  <p-tabPanel [header]="item.user" *ngFor="let item of user_sales">

    <div *ngIf="ready && (!item.projects || !item.projects.length)">
      <app-empty message="No sales found..."></app-empty>
    </div>
    <p-table [value]="item.projects" [paginator]="true" [rows]="10" *ngIf="ready && item.projects.length">
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="title">
            Project
            <p-sortIcon field="title"></p-sortIcon>

          </th>
          <th [pSortableColumn]="salesPerson">
            Sales Person
            <p-sortIcon field="salesPerson"></p-sortIcon>
          </th>
          <th [pSortableColumn]="total">
            Total
            <p-sortIcon field="total"></p-sortIcon>
          </th>
          <th [pSortableColumn]="received">
            Received
            <p-sortIcon field="received"></p-sortIcon>
          </th>
          <th [pSortableColumn]="remaining">
            Remaining
            <p-sortIcon field="remaining"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sale>
        <tr>
          <td>
            <a class="text-primary text-strong" [routerLink]="[ '/app/projects/view/', sale.Id ]">
              <h4>
                [DG-{{ sale.Id }}]
                {{sale.title}}
              </h4>
            </a>
          </td>
          <td>{{sale.salesPerson}}</td>
          <td>{{sale.total | currency}}</td>
          <td>{{sale.received | currency}}</td>
          <td>{{(sale.total - sale.received) | currency}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>




</p-tabView>
