@import "variables";

.project-mini {
  h4 {
    margin: 0;
  }
  app-card {
    position: relative;
    &::after {
      content: " ";
      height: 100%;
      background: $color_primary;
      position: absolute;
      top: 0;
      width: 5px;
    }
  }
}
