<div *ngIf="isBusy">
  <app-loading></app-loading>
</div>
<div *ngIf="!isBusy">
  <div class="row" *ngIf="kpi">
    <div class="column">
      <span class="heading-default">Statistics</span>
    </div>
  </div>
  <div class="row" *ngIf="kpi">

    <div class="column">
      <app-kpi-card icon="mdi mdi-folder-outline" heading="Total Projects" [value]="kpi.projects"></app-kpi-card>
    </div>
    <div class="column">
      <app-kpi-card icon="mdi mdi-check-circle-outline" heading="Completed Projects" [value]="kpi.completed_projects"></app-kpi-card>
    </div>
    <div class="column">
      <app-kpi-card icon="mdi mdi-currency-usd"   heading="Outstanding Amount" [value]="kpi.outstanding_amount | currency"></app-kpi-card>
    </div>
    <div class="column">
      <app-kpi-card icon="mdi mdi-folder-clock-outline" heading="Active Projects" [value]="kpi.projects_in_progress"></app-kpi-card>
    </div>
  </div>
  <div class="row" *ngIf="sale">
    <div class="column">
      <app-sales-target [sale]="sale"></app-sales-target>
    </div>
  </div>
  <div class="row" *ngIf="projects.length">
    <div class="column">
      <span class="heading-default">Upcoming Projects</span>
    </div>
  </div>
  <div class="row">

    <div class="column project-mini" *ngFor="let project of projects">
      <app-card>
        <card-body>
          <h4 class="text-primary text-strong">
            <a routerLink="/app/projects/view/{{project.Id}}">{{project.title}}</a>
          </h4>
          <small class="text-muted">due {{project.deadline | amTimeAgo}}</small>
        </card-body>
      </app-card>
    </div>
  </div>
  <div class="row" *ngIf="projectsDue.length">
    <div class="column">
      <span class="heading-default">Overdue Projects</span>
    </div>
  </div>
  <div class="row">

    <div class="column project-mini" *ngFor="let project of projectsDue">
      <app-card>
        <card-body>
          <h4 class="text-primary text-strong">
            <a routerLink="/app/projects/view/{{project.Id}}">{{project.title}}</a>
          </h4>
          <small class="text-muted">deadline was {{project.deadline | amTimeAgo}}</small>
        </card-body>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <app-projects-list [SummaryView]="true"></app-projects-list>
    </div>
    <div class="column">
      <app-customerslist [summary]="true"></app-customerslist>
    </div>
  </div>
  <!-- <div class="row">
    <div class="column">
        <app-card heading="Sales">
            <card-body></card-body>
        </app-card>
    </div>
  </div> -->

</div>
