<ng-scrollbar [compact]="true">
  <div [ngClass]="{'scrollable-container' : SummaryView} ">
    <div *ngIf="projects && !projects.length" class="no-data">
      <h2>No projects to display</h2>
    </div>
    <table *ngIf="projects && projects.length">
      <thead>
        <tr>
          <th>ID</th>
          <th>Project</th>
          <th *ngIf="!SummaryView">Due Date</th>
          <th *ngIf="!SummaryView">Status</th>
          <th *ngIf="!SummaryView">Assigned To</th>
          <th *ngIf="!SummaryView">Client</th>
          <!--  <th *ngIf="!SummaryView && !hideUser">Sales Person</th> -->
          <th *ngIf="!SummaryView">
            Total Amount <br>
            <small>Recieved Amount</small>
          </th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td>
            <h4 class="text-strong">{{project.Id}}</h4>
          </td>
          <td>
            <h4 class="text-primary text-strong">
              <a routerLink="/app/projects/view/{{project.Id}}">{{'[DG-' + project.Id + ']  ' + project.title}}</a>
            </h4>
          </td>
          <td *ngIf="!SummaryView">
            {{project.deadline | amDateFormat:'LL'}}
          </td>
          <td *ngIf="!SummaryView">
            <span [appStatuslabel]="project.status"></span>
          </td>
          <td *ngIf="!SummaryView">
            <span>{{ (project.team && project.team.name)? project.team.name : '-' }}</span>
          </td>
          <td *ngIf="!SummaryView">
            <span *ngIf="project.Client1">{{ project.Client1.name }}</span>
          </td>
          <!--    <td *ngIf="!SummaryView && !hideUser">
            <span>{{project.owner_name}}</span>
          </td> -->

          <td *ngIf="!SummaryView">
            <b> ${{project.amount_total}}</b><br>
            <small> ${{project.amount_recieved}}</small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-scrollbar>
