/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~ngx-smart-modal/ngx-smart-modal";

table tbody tr td {
  padding-bottom: 8px;
  font-weight: 500 !important;
}

html,
.p-component {


  font-family: "Quicksand", sans-serif !important;
}

.flex {
  display: flex !important;
}

.p-breadcrumb,
.p-menubar {
  border-radius: $border_radius !important;
}

.p-component {
  font-weight: 500 !important;
}

.ng-select.ng-select-single .ng-select-container {
  height: 56px !important;
  border-radius: 9px !important;
  background: $color_input_field !important;
  border-color: transparent;
}

.align-right {
  float: right;
  display: flex;
  justify-content: flex-end;
}

.max-height {
  height: 100%;

  .vertical-centre {
    justify-content: center;
  }
}

.heading-default {
  font-weight: 600;
  font-size: 20px;
}

[hidden] {
  display: none !important;
}

.scrollable-container {
  max-height: 400px;
  padding-right: 16px;
}

.text-danger {
  color: $color_danger !important;
}

button.default-btn {
  background: $color_primary_Light;

  &.disabled {
    background: $color_muted;


    span:nth-child(2) {
      background: $color_muted !important;

    }
  }

  height: 36px;
  transition: all 300ms ease-in-out;
  outline: none;

  &.danger {
    background: $color_danger !important;

    span:nth-child(2) {
      background: $color_danger_dark !important;
    }
  }

  &:hover {
    transform: scale(1.1);
  }

  position: relative;
  cursor: pointer;
  border: none;
  width: max-content;

  span:nth-child(1) {
    margin-right: 24px;
    /*   padding: 0 16px; */
  }

  span:nth-child(2) {
    i {
      vertical-align: middle;
      top: 1px;
      position: relative;
    }

    border-radius: 50%;
    background: $color_primary;

    padding: 2px;
    position: absolute;
    right: 8px;

    width: 24px;
    height: 24px;
    top: 6px;
  }

  color: white;
  font-size: 16px;
  border-radius: 20px;
  min-width: 120px;

  box-shadow: -2px 4px 12px $button_shadow_color;
}

ngx-dropzone {
  border: 2px dashed #d6d6d6;
}

.dropzone {
  background: $color_bg_primary;
  font-weight: 900;
  position: relative;
  color: black;

  div {
    display: flex;
    text-align: center;
    /* width: 100%; */
    position: absolute;
    right: 48%;
    top: 10%;
  }

  p {
    margin-top: 50px;
  }
}

.form-group {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.8rem;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
  }

  &:not(.select-group) {
    textarea {
      background: $color_input_field;
      border: none;
      outline: none;
      padding: 1.6rem;
      font-family: "Quicksand", sans-serif;
      font-weight: 600;

      border-radius: $border_radius;

      &:focus {
        box-shadow: $box_shadow_primary;
        /*  border: 1px solid $color_primary_Light;  */
        background: white;
      }
    }

    input {
      background: $color_input_field;
      border: none;
      outline: none;
      padding: 1.6rem;
      font-family: "Quicksand", sans-serif;
      font-weight: 600;
      height: $input_height;
      border-radius: $border_radius;

      &:focus {
        box-shadow: $box_shadow_primary;
        /*  border: 1px solid $color_primary_Light;  */
        background: white;
      }
    }
  }
}


body {
  background: $color_background;
  color: $color_black;

  @media screen and (max-width: 1160px) {
    margin: 0 !important;
  }

}

* {
  box-sizing: border-box;
}

.text-primary {
  color: $color_primary;
}

h4 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h2 {
  font-size: 16px;
}

.m-0 {
  margin: 0 !important;
}

.text-strong {
  font-weight: 700;
}

.text-small {
  font-size: 12px;
}

.p-autocomplete-input,
.p-autocomplete {
  width: 100% !important;
}

.p-tabview .p-tabview-nav {
  border-radius: 9px 9px 0 0;
}

.p-dropdown {
  background: rgba(170, 170, 170, 0.13) !important;
  height: 56px;
  align-items: center;
  border-radius: 9px !important;
  border: none !important;
  width: 100% !important;
}

.p-tabview-nav-link {
  outline: none !important;
  min-width: max-content !important;
}

.p-tabview .p-tabview-panels {
  box-shadow: $box_shadow;
  border-radius: 0 0 9px 9px !important;
}

.p-tabview-nav {
  display: flex;
  flex-wrap: nowrap !important;
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.text-light {
  font-weight: 100;
}

.text-muted {
  color: $color_muted;
}

table {
  width: 100%;
  text-align: left;
  font-size: 1rem;

  th {
    color: $color_muted;
    text-transform: uppercase;
  }

  tbody {
    tr {
      td {
        padding-bottom: 8px;
      }
    }

    &:before {
      content: "@";
      display: block;
      line-height: 20px;
      text-indent: -99999px;
    }
  }
}

/* router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
} */
a.text-primary,
.text-primary a {
  text-decoration: none;
  color: unset;
  color: $color_primary !important;
}

.table-card {
  @include for-phone-only {
    min-width: 990px !important;
    overflow-x: scroll;
  }
}

.row {
  display: flex;
  width: 100%;

  .column {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding: $gutter;

    @include for-phone-only {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    flex-direction: column;

    .flex-end {
      align-items: flex-end;
    }
  }

  .no-padding {
    padding: 0 !important;
  }

  .half-plus-quad {
    width: 75%;
  }

  .half {
    width: 50% !important;
  }

  .quad {
    width: 25% !important;
  }

  .auto-width {
    width: auto !important;
  }

  @include for-phone-only {

    .half-plus-quad,
    .half,
    .quad,
    .auto-width {
      width: 100% !important;
    }
  }

  @include for-phone-only {
    flex-direction: column;
    position: relative;

    .card-button {
      position: absolute;
      right: 0;
    }

    .auto-width {
      width: auto !important;
    }
  }
}

/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}

.toast-message {
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #ffffff;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}

.label {
  display: inline-block;
  margin: 8px 0;
  border-radius: $border_radius;
  padding: 4px 16px;

  &.label-pending {
    background: rgba(170, 170, 170, 0.14);
    border: 1px solid #aaaaaa;
  }

  &.label-active {
    background: $color_primary_Light;
    border: 1px solid $color_primary;
    color: $color_white;
  }

  &.label-completed {
    border: 1px solid $color_success;
    /*   box-shadow: $box_shadow_primary; */
  }
}

.toast-container * {
  box-sizing: border-box;
  font-size: 1rem;
}

.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */
.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */
.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */
.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */
.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}

/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }

  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }

  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox label {
  position: relative;
  display: inline-block;

  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";

  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
  height: 16px;
  width: 16px;

  border: 1px solid;
  left: 0px;

  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
   *to vertically center it.
   */
  top: 0px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;

  transform: rotate(-45deg);

  left: 4px;
  top: 4px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"]+label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked+label::after {
  content: "";
  color: white;
}

.checkbox input[type="checkbox"]:checked+label::before {
  content: "";
  background: $color_primary;
  border-color: transparent;
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus+label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.nsm-dialog {
  margin-top: 120px;
  max-width: 720px;
}

.overlay {
  z-index: 999999 !important;
}

.nsm-content {
  border-radius: $border_radius;
  padding: 30px;
}
