<!-- <app-card styleClass="table-card" heading="Clients" route="/app/customers/add" routeLabel="Add">
  <card-body>


  </card-body>
</app-card> -->
<div class="p-d-flex p-jc-end p-ai-end p-pb-4">
  <button (click)="onClickMe()" class="default-btn">
    <span class="p-pl-4 p-pr-4"> Add Customer</span>
    <span>
      <i class="mdi mdi-plus"></i>

    </span>

  </button>
</div>
<p-tabView orientation="bottom">
  <p-tabPanel header="All Customers">
    <ng-scrollbar [compact]="true">
      <div [ngClass]="{'scrollable-container' : summary} ">
        <div *ngIf="customers && !customers.length" class="no-data">
          <h2>No Customers to display</h2>
        </div>
        <table *ngIf="customers && customers.length">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th *ngIf="!summary">Phone Number</th>
              <th *ngIf="!summary">WhatsApp Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers">

              <td>
                <h4 class="text-primary text-strong">
                  <a routerLink="/app/customers/view/{{customer.Id}}">{{customer.name}}</a>
                </h4>
              </td>
              <td>
                <h4 class="text-strong">{{customer.email}}</h4>
              </td>
              <td *ngIf="!summary">
                {{customer.phone}}
              </td>
              <td *ngIf="!summary">{{customer.whatsapp}}</td>



            </tr>
          </tbody>
        </table>
      </div>
    </ng-scrollbar>
  </p-tabPanel>
  <p-tabPanel [header]="item.name" *ngFor="let item of user_customers">
    <ng-scrollbar [compact]="true">
      <div [ngClass]="{'scrollable-container' : summary} ">
        <div *ngIf="item.customers && !item.customers.length" class="no-data">
          <h2>No Customers to display</h2>
        </div>
        <table *ngIf="item.customers && item.customers.length">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th *ngIf="!summary">Phone Number</th>
              <th *ngIf="!summary">WhatsApp Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of item.customers">

              <td>
                <h4 class="text-primary text-strong">
                  <a routerLink="/app/customers/view/{{customer.Id}}">{{customer.name}}</a>
                </h4>
              </td>
              <td>
                <h4 class="text-strong">{{customer.email}}</h4>
              </td>
              <td *ngIf="!summary">
                {{customer.phone}}
              </td>
              <td *ngIf="!summary">{{customer.whatsapp}}</td>



            </tr>
          </tbody>
        </table>
      </div>
    </ng-scrollbar>
  </p-tabPanel>




</p-tabView>
