<app-card styleClass="table-card" heading="Accounts" subheading="A list of all accounts" route="/app/accounts/add" routeLabel="Add">
    <card-body>
        <table *ngIf="accounts">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts">
                    <td>
                        <h4 class="text-primary text-strong">
                            <a routerLink="/app/accounts/view/{{account.Id}}"> {{account.name}}</a>
                        </h4>

                    </td>
                    <td>
                        {{account.email}}
                    </td>
                    <td>
                        {{account.phone}}
                    </td>
                    <td>
                        <span [appAccountType]="account.role"></span>
                    </td>

                </tr>
            </tbody>
        </table>
    </card-body>
</app-card>
